@using ProvaPortal.Models.Enum;
@model ProvaModel

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success mensagem-temporaria" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger mensagem-temporaria" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<h2>Enviar Prova</h2>

<p>Último Acesso: @DateTime.Now</p>

<form id="enviarArquivoForm" method="post" enctype="multipart/form-data">
    <input type="file" id="inputArquivo" accept=".pdf" name="Arquivo" required />
    <input type="number" id="numeroCopias" name="numeroCopias" placeholder="Quantidade de Cópias" required />
    <select asp-for="TipoDaAvaliacao" asp-items="Html.GetEnumSelectList<TipoDaAvaliacao>()" class="form-control mb-3"></select>
    <select asp-for="TipoDeProva" asp-items="Html.GetEnumSelectList<TipoDeProva>()" class="form-control mb-3"></select>
    <input type="text" id="obsProva" name="obsProva" placeholder="Observação" required />
    <input type="submit" value="Enviar Arquivo" id="btnEnviar" />
    <input type="reset" value="Resetar Formulário" id="btnReset" />
</form>

@if (Model != null && !string.IsNullOrEmpty(Model.NomeArquivo))
{
    <p>Arquivo Enviado: @Model.NomeArquivo</p>
    <p>Data de Envio: @Model.DataEnvio</p>

}
<a title="Lista de Provas" type="button" class="btn Adc-Contato" asp-controller="Provas" asp-action="Index"></a>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var inputArquivo = document.getElementById("inputArquivo");
        var numeroCopias = document.getElementById("numeroCopias");
        var btnEnviar = document.getElementById("btnEnviar");
        var btnReset = document.getElementById("btnReset");

        // Função para desabilitar os campos e botão
        function desabilitarCampos() {
            inputArquivo.disabled = true;
            numeroCopias.disabled = true;
            btnEnviar.disabled = true;
        }

        // Função para habilitar os campos e botão
        function habilitarCampos() {
            inputArquivo.disabled = false;
            numeroCopias.disabled = false;
            btnEnviar.disabled = false;
        }

        // Inicialmente, desabilitar os campos e o botão
        desabilitarCampos();

        // Quando o botão "reset" for clicado, habilitar os campos e o botão
        btnReset.addEventListener("click", function () {
            habilitarCampos();
        });
    });
    $(".mensagem-temporaria").delay(2000).fadeOut("slow"); // mensagem temporaria de 2 segundso

</script>