@model List<ProvaModel>

<h1 class="text-center display-4">Lista de Provas Enviadas</h1>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}
<div class="container mt-3">
    <input class="form-control" id="buscador" type="search" placeholder="Buscar..." aria-controls="table-usuarios">
</div>

<a title="Enviar Prova" type="button" class="btn Adc-Contato" asp-controller="Provas" asp-action="EnviarProva"></a>


@if (Model != null && Model.Count > 0)
{
    <table id="table-usuarios" runat="server" class="table table-hover">

        <thead class="table-light">
            <tr>
                <th scope="col">Nome Arquivo</th>
                <th scope="col">Cópias</th>
                <th scope="col">Data do Envio</th>
                <th scope="col">Tipo de Prova</th>
                <th scope="col">Tipo da Avaliação</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.NomeArquivo
                    </td>
                    <td>
                        @item.NumeroCopias
                    </td>
                    <td>
                        @item.DataEnvio
                    </td>
                    <td>
                        @item.TipoDeProva
                    </td>
                    <td>
                        @item.TipoDaAvaliacao
                    </td>
                    <td>
                        @item.StatusDaProva
                    </td>
                    <td class="align-items-baseline">

                        @*<a title="Editar" class="btnEditar" asp-route-id="@item.Id" asp-controller="Professors" asp-action="EditarProfessor" title="Editar">
                <!--Editar-->
                </a>*@

                        <a href="#" class="btnDeletar" data-value="@item.Id" title="Excluir">
                            <!--Excluir-->
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudomodal"></div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $(".btnDeletar").click(function () {
                var id = $(this).data("value");
                $("#conteudomodal").load("/Provas/DeletarProva/" + id,
                    function () {
                        $('#exampleModal').modal("show");
                    }
                );
            });

        });


        // ----------PESQUISAR---------------

        $(document).ready(function () {

            $('#table-usuarios').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "pageLength": 10,
                "info": false,
                "lengthChange": false,
                "dom": 'lrtip',
                "oLanguage": {
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sSearch": "Pesquisa",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "oPaginate": {
                        "sNext": "Proximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Ultimo"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            var oTable = $('#table-usuarios').DataTable();
            $('#buscador').on("input", function () {
                oTable.search($(this).val()).draw();
            });


        });

                //var Toast = Swal.mixin({
                //    toast: false,
                //    position: 'center',
                //    showConfirmButton: false,
                //    timer: 1500
                //});

                //if (@(TempData["success"] is null ? "false" : "true")) {
                //    Toast.fire({
                //        icon: 'success',
                //        title: '@(TempData["Success"])'
                //    })
                //}
                //if (@(TempData["info"] is null ? "false" : "true")) {
                //    Toast.fire({
                //        icon: 'info',
                //        title: '@(TempData["info"])'
                //    })
                //}
                //if (@(TempData["error"] is null ? "false" : "true")) {
                //    Toast.fire({
                //        icon: 'error',
                //        title: '@(TempData["error"])'
                //    })
                //}
                //if (@(TempData["warning"] is null ? "false" : "true")) {
                //    Toast.fire({
                //        icon: 'warning',
                //        title: '@(TempData["warning"])'
                //    })
                //}
                //if (@(TempData["question"] is null ? "false" : "true")) {
                //    Toast.fire({
                //        icon: 'question',
                //        title: '@(TempData["question"])'
                //    })
                //}
    </script>
}

