@using ProvaPortal.Extensions;
@using ProvaPortal.Models.Enum
@model List<ProvaModel>

<h1 class="text-center display-6">Lista de Provas</h1>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success mensagem-temporaria" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger mensagem-temporaria" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<a title="Enviar Prova" type="button" class="btnEnviarProva" asp-controller="Provas" asp-action="EnviarProva"></a>

<ul class="nav nav-tabs" id="myTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="provas-tab" data-toggle="tab" href="#provas" role="tab" aria-controls="provas" aria-selected="true">Provas Enviadas</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="impressos-tab" data-toggle="tab" href="#impressos" role="tab" aria-controls="impressos" aria-selected="false">Impressos</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="deletadas-tab" data-toggle="tab" href="#deletadas" role="tab" aria-controls="deletadas" aria-selected="false">Deletadas</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="provas" role="tabpanel" aria-labelledby="provas-tab">
        <table id="table-provas" class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Curso</th>
                    <th scope="col">Nome Arquivo</th>
                    <th scope="col">Cópias</th>
                    <th scope="col">Data do Envio</th>
                    <th scope="col">Tipo de Prova</th>
                    <th scope="col">Tipo da Avaliação</th>
                    <th scope="col">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(item => item.StatusDaProva.Equals(StatusDaProva.Enviado)))
                {
                    <tr>
                        <td>@item.cursoProfessor</td>
                        <td>@item.NomeArquivo</td>
                        <td>@item.NumeroCopias</td>
                        <td>@item.DataEnvio</td>
                        <td>@item.TipoDeProva</td>
                        <td>@item.TipoDaAvaliacao</td>
                        <td>@item.StatusDaProva.GetDisplayName()</td>
                        <td class="align-items-baseline">
                            <a href="#" class="btnDeletar deletarProva" data-value="@item.Id" data-nome="@item.NomeArquivo" title="Excluir" onclick="openConfirmDialog('@item.NomeArquivo')"></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="impressos" role="tabpanel" aria-labelledby="impressos-tab">
        <table id="table-impressos" class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Curso</th>
                    <th scope="col">Nome Arquivo</th>
                    <th scope="col">Cópias</th>
                    <th scope="col">Data de Impressão</th>
                    <th scope="col">Tipo de Prova</th>
                    <th scope="col">Tipo da Avaliação</th>
                    <th scope="col">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(item => item.StatusDaProva.Equals(StatusDaProva.Impressa)))
                {
                    <tr>
                        <td>@item.cursoProfessor</td>
                        <td>@item.NomeArquivo</td>
                        <td>@item.NumeroCopias</td>
                        <td>@item.DataImpressao</td>
                        <td>@item.TipoDeProva</td>
                        <td>@item.TipoDaAvaliacao</td>
                        <td>@item.StatusDaProva.GetDisplayName()</td>
                        <td class="align-items-baseline">
                            <a href="#" class="btnReimprimir" data-value="@item.Id" title="Reimprimir" data-tab="Reimprimir"></a>
                            @*<a href="#" class="btnDeletar" data-value="@item.Id" title="Excluir"></a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="deletadas" role="tabpanel" aria-labelledby="deletadas-tab">
        <table id="table-deletadas" class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Curso</th>
                    <th scope="col">Nome Arquivo</th>
                    <th scope="col">Cópias</th>
                    <th scope="col">Data do Envio</th>
                    <th scope="col">Tipo de Prova</th>
                    <th scope="col">Tipo da Avaliação</th>
                    <th scope="col">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(item => item.StatusDaProva.Equals(StatusDaProva.Deletado)))
                {
                    <tr>
                        <td>@item.cursoProfessor</td>
                        <td>@item.NomeArquivo</td>
                        <td>@item.NumeroCopias</td>
                        <td>@item.DataEnvio</td>
                        <td>@item.TipoDeProva</td>
                        <td>@item.TipoDaAvaliacao</td>
                        <td>@item.StatusDaProva</td>
                        <td class="align-items-baseline">
                            <a href="#" class="btnReverse" data-value="@item.Id" title="Restaurar" data-tab="Restaurar"></a>
                            <a href="#" class="btnDeletar" data-value="@item.Id" title="Excluir Permanente" data-tab="deletadas" onclick="openConfirmDialog()"></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudomodal"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            
            $(".btnDeletar").click(function () {
                var id = $(this).data("value");

                // Mostrar o overlay de carregamento
                mostrarLoading();

                $("#conteudomodal").load("/Provas/DeletarProva/" + id,
                    function () {
                        
                        // Esconder o overlay de carregamento quando a modal é exibida
                        ocultarLoading();
                        $('#exampleModal').modal("show");
                    }
                );
            });

            $(".btnDeletar").click(function () {
                var id = $(this).data("value");

                // Mostrar o overlay de carregamento
                mostrarLoading();

                $.ajax({
                    url: "/Provas/DeletarProva/" + id,
                    type: "POST",
                    success: function (data) {
                        if (data.success) {
                            // Redirecionar para a aba "Deletadas" após mover a prova
                            $('#myTabs a[href="#deletadas"]').tab('show');
                            // Recarregar a tabela de provas deletadas para refletir as alterações
                            $('#table-deletadas').DataTable().ajax.reload();
                        } else {
                            console.log(data.error);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    },
                    complete: function () {
                        // Esconder o overlay de carregamento quando a solicitação estiver completa
                        ocultarLoading();
                    }
                });
            });

            // Inicialize o DataTable nas três tabelas
            var tableProvas = $('#table-provas').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "pageLength": 10,
                "info": false,
                "lengthChange": false,
                "dom": 'lrtip',
                "oLanguage": {
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sSearch": "Pesquisa",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            var tableImpressos = $('#table-impressos').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "pageLength": 10,
                "info": false,
                "lengthChange": false,
                "dom": 'lrtip',
                "oLanguage": {
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sSearch": "Pesquisa",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            var tableDeletadas = $('#table-deletadas').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "pageLength": 10,
                "info": false,
                "lengthChange": false,
                "dom": 'lrtip',
                "oLanguage": {
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sSearch": "Pesquisa",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            // Função para obter a cor com base no status
            function getStatusColor(status) {
                if (status === "Enviada") {
                    return "blue";
                } else if (status === "Prova Impressa") {
                    return "green";
                } else if (status === "Deletado") {
                    return "red";
                } else {
                    return "";
                }
            }

            // Atualiza a cor do texto na tabela com base no status
            $("tbody td:nth-child(7)").each(function () {
                var status = $(this).text().trim();
                var color = getStatusColor(status);
                if (color !== "") {
                    $(this).css("color", color);
                }
            });

            //evento de clique nas abas para alternar entre as tabelas
            $('#myTabs a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
                var targetTableId = $(this).attr("data-target-table");
                $('#' + targetTableId).DataTable().ajax.reload();
            });

            $(".mensagem-temporaria").delay(2000).fadeOut("slow");



            //----------------------------------------------------------

            
            // Desfazer Delete (voltar a enviados)


            $(".btnReverse").click(function () {
                var id = $(this).data("value");

                // Mostrar o overlay de carregamento
                mostrarLoading();

                $.ajax({
                    url: "/Provas/ReverterStatusProva/" + id,
                    type: "POST",
                    success: function () {
                        // Redirecionar para a mesma página após a reversão do status
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    },
                    complete: function () {
                        // Esconder o overlay de carregamento quando a solicitação estiver completa
                        ocultarLoading();
                    }
                });
            });

            //------------------------------------------------------------------------------------------
            $(".btnReimprimir").click(function () {
                var id = $(this).data("value");

                // Mostrar o overlay de carregamento
                mostrarLoading();

                $.ajax({
                    url: "/Provas/ReverterStatusProvaImpressa/" + id,
                    type: "POST",
                    success: function () {
                        // Redirecionar para a mesma página após a reversão do status
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    },
                    complete: function () {
                        // Esconder o overlay de carregamento quando a solicitação estiver completa
                        ocultarLoading();
                    }
                });

            });
        });



        // Função para mostrar o overlay de carregamento
        function mostrarLoading() {
            $("#loadingOverlay").show();
        }

        // Função para ocultar o overlay de carregamento
        function ocultarLoading() {
            $("#loadingOverlay").hide();
        }
    </script>
}
