@model List<ProfessorModel>

<h1 class="text-center display-4">Lista de Professores</h1>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}
<div class="container mt-3">
    <input class="form-control" id="buscador" type="search" placeholder="Buscar..." aria-controls="table-usuarios">
</div>

<a title="Adicionar Usuario" type="button" class="btn Adc-Contato" asp-controller="Professors" asp-action="CriarProfessor"></a>


@if (Model.Count > 0)
{
    <table id="table-usuarios" runat="server" class="table table-hover">

        <thead class="table-light">
            <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome Completo</th>
                <th scope="col">Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Matricula
                    </td>
                    <td>
                        @item.NomeCompleto
                    </td>
                    <td>
                        @item.Email
                    </td>
                    @*<td>
                        @item.Perfil
                    </td>*@

                    <td class="align-items-baseline">

                        <a title="Editar" class="btnEditar" asp-route-id="@item.Id" asp-controller="Professors" asp-action="EditarProfesspr" title="Editar">
                            <!--Editar-->
                        </a>

                        <a href="#" class="btnDeletar" data-value="@item.Id" title="Excluir">
                            <!--Excluir-->
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudomodal"></div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $(".btnDeletar").click(function () {
                var id = $(this).data("value");
                $("#conteudomodal").load("/Usuario/DeletarUsuario/" + id,
                    function () {
                        $('#exampleModal').modal("show");
                    }
                );
            });

        });


        // ----------PESQUISAR---------------

        $(document).ready(function () {

            $('#table-usuarios').DataTable({
                "ordering": true,
                "paging": true,
                "searching": true,
                "pageLength": 10,
                "info": false,
                "lengthChange": false,
                "dom": 'lrtip',
                "oLanguage": {
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sSearch": "Pesquisa",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "oPaginate": {
                        "sNext": "Proximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Ultimo"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            var oTable = $('#table-usuarios').DataTable();
            $('#buscador').on("input", function () {
                oTable.search($(this).val()).draw();
            });


        });


    </script>
}

